body{
	margin:0;
}

.navigation{
	background-color:rgb(66, 230, 245);
	margin:0;
}

h1{
	text-align:center;
}

table{
	margin:0 auto;
	border : solid black 1px ;
}

th{
	border : solid black 1px ;
}

td{
	border : solid black 1px ;
}

button{
	margin : 0 auto;
}

